<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="ndfeb магнит, россия редкоземельные элементы, редкоземельное производство, редкоземельные металлы в россии, производство постоянных магнитов, неодимовые магниты ndfeb, неодимовый магнит ndfeb, редкоземельные металлы получение, завод редкоземельных металлов, магнит smco, магнит ndfeb купить, производство постоянных магнитов россия, постоянные магниты ndfeb, технология производства постоянных магнитов, постоянные магниты SmCo
" />
<meta name="description" content="Компания Антарн располагает современным производством постоянных магнитов, редкоземельных металлов и элементов, основанном на собственных уникальных технологиях." />
<link href="http://www.antarn.ru.css.1c-bitrix-cdn.ru/bitrix/cache/css/s1/antarn_tmp/page_0850eada61c71640845b5c9ecab34c95/page_0850eada61c71640845b5c9ecab34c95_dc843494541a34dfcd413c9bceedb3e8.css?1516915406304" type="text/css"  rel="stylesheet" />
<link href="http://www.antarn.ru.css.1c-bitrix-cdn.ru/bitrix/cache/css/s1/antarn_tmp/kernel_main/kernel_main.css?151689290126919" type="text/css"  rel="stylesheet" />
<link href="http://www.antarn.ru.css.1c-bitrix-cdn.ru/bitrix/cache/css/s1/antarn_tmp/template_ff8af3c411de9c1cbf29ccd901cf1181/template_ff8af3c411de9c1cbf29ccd901cf1181_4e2b62736404b116793da31b0db64c2a.css?15168906688378" type="text/css"  data-template-style="true"  rel="stylesheet" />
<script type="text/javascript">if(!window.BX)window.BX={message:function(mess){if(typeof mess=='object') for(var i in mess) BX.message[i]=mess[i]; return true;}};</script>
<script type="text/javascript">(window.BX||top.BX).message({'JS_CORE_LOADING':'Загрузка...','JS_CORE_NO_DATA':'- Нет данных -','JS_CORE_WINDOW_CLOSE':'Закрыть','JS_CORE_WINDOW_EXPAND':'Развернуть','JS_CORE_WINDOW_NARROW':'Свернуть в окно','JS_CORE_WINDOW_SAVE':'Сохранить','JS_CORE_WINDOW_CANCEL':'Отменить','JS_CORE_H':'ч','JS_CORE_M':'м','JS_CORE_S':'с','JSADM_AI_HIDE_EXTRA':'Скрыть лишние','JSADM_AI_ALL_NOTIF':'Показать все','JSADM_AUTH_REQ':'Требуется авторизация!','JS_CORE_WINDOW_AUTH':'Войти','JS_CORE_IMAGE_FULL':'Полный размер'});</script>
<script type="text/javascript">(window.BX||top.BX).message({'LANGUAGE_ID':'ru','FORMAT_DATE':'DD.MM.YYYY','FORMAT_DATETIME':'DD.MM.YYYY HH:MI:SS','COOKIE_PREFIX':'BITRIX_SM','USER_ID':'','SERVER_TIME':'1524550211','SERVER_TZ_OFFSET':'10800','USER_TZ_OFFSET':'0','USER_TZ_AUTO':'Y','bitrix_sessid':'dc0b2ad9be3e93320535a244f6d11341','SITE_ID':'s1'});</script>


<script type="text/javascript" src="http://www.antarn.ru.js.1c-bitrix-cdn.ru/bitrix/cache/js/s1/antarn_tmp/kernel_main/kernel_main.js?1516950795279549"></script>
<script type="text/javascript">BX.setCSSList(['/bitrix/js/main/core/css/core.css','/bitrix/js/main/core/css/core_popup.css']); </script>
<script type="text/javascript">BX.setJSList(['/bitrix/js/main/core/core.js','/bitrix/js/main/core/core_ajax.js','/bitrix/js/main/session.js','/bitrix/js/main/core/core_popup.js','/bitrix/js/main/core/core_window.js','/bitrix/js/main/utils.js']); </script>

<script type="text/javascript">
bxSession.Expand(1440, 'dc0b2ad9be3e93320535a244f6d11341', false, '9cbeba87a4e840bb6e223041a325a81a');
</script>

<script type="text/javascript" src="http://www.antarn.ru.js.1c-bitrix-cdn.ru/bitrix/cache/js/s1/antarn_tmp/template_f81d7bdd9492508c6ed548c5f47c5e81/template_f81d7bdd9492508c6ed548c5f47c5e81_9a5623929b15357c2c96f6950552b217.js?15168906631372"></script>
 
    <meta charset="utf-8" />
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
    <meta name="yandex-verification" content="17e13e92b759106c" />

	<title>Производство постоянных магнитов, редкоземельных металлов и элементов компании Антарн</title>
	
	<link rel="icon" href="../bitrix/templates/antarn_tmp/images/favicon.ico" type="image/x-icon" />
    <!--
    <link href="//www.antarn.ru.css.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/css/primitive.css?14199033737887" type="text/css" rel="stylesheet" />
    <link href="//www.antarn.ru.css.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/css/uggla_style.css?1419914582813" type="text/css" rel="stylesheet" />
    -->
	<link href="http://www.antarn.ru.css.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/css/style.css?v=1" type="text/css" rel="stylesheet" />
    
    <script type="text/javascript" src="http://www.antarn.ru.js.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/js/jquery.v1.11.0.js?1421171305103587"></script>
	<script type="text/javascript" src="http://www.antarn.ru.js.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/js/jquery.cycle2.js?142117130122577"></script>
	<script type="text/javascript" src="http://www.antarn.ru.js.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/js/slider.js?14210490494268"></script>
	<script type="text/javascript" src="http://www.antarn.ru.js.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/js/jquery.mask.js?142117130213116"></script>
	<script type="text/javascript" src="http://www.antarn.ru.js.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/js/jquery.parallax-1.1.3.js?14211713041770"></script>
	<script type="text/javascript" src="http://www.antarn.ru.js.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/js/jquery.mobile-events.min.js?142117130314629"></script>
	<script type="text/javascript" src="http://www.antarn.ru.js.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/js/scripts.js?v=56"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter29195280 = new Ya.Metrika({ id:29195280, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/29195280" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
<meta name="google-site-verification" content="avOidYfl135OWTIZmcqM20qh6ZXmwtkLLdx_j6NFaz4" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85129606-2', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body >
 
<header id="header">   
   <div class="center clear">
			<div class="header">
            	<a href="../index.html" class="logo">
                    <img src="http://www.antarn.ru.css.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/images/rus_logo.svg?14267680996327" alt="" />
                </a>
            	                    <div class="menu">
    <ul>

                                <li>
                <a  href="../company/index.html">О компании</a>
                <ul>
                                                    <li>
                <div class="link_wrap">
                    <a href="../company/missiya/index.html">Миссия</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../company/partnyery/index.html">Партнёры</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../company/news/index.html">Новости</a>
                </div>
            </li>
                            </ul></li>                        <li>
                <a  href="../products/index.html">Продукция</a>
                <ul>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/index.html">Редкоземельные металлы и их соединения</a>
                </div>
                <ul>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/ittriy-metallicheskiy-i-ego-soedineniya/index.html">Иттрий металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/lantan-metallicheskiy-i-ego-soedineniya/index.html">Лантан металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/tseriy-metallicheskiy-i-ego-soedineniya/index.html">Церий металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/prazeodim-metallicheskiy-i-ego-soedineniya/index.html">Празеодим металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/neodim-metallicheskiy-i-ego-soedineniya/index.html">Неодим металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/samariy-metallicheskiy-i-ego-soedineniya/index.html">Самарий металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/evropiy-metallicheskiy-i-ego-soedineniya/index.html">Европий металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/gadoliniy-metallicheskiy-i-ego-soedineniya/index.html">Гадолиний металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/terbiy-metallicheskiy-i-ego-soedineniya/index.html">Тербий металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/disproziy-metallicheskiy-i-ego-soedineniya/index.html">Диспрозий металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/erbiy-metallicheskiy-i-ego-soedineniya/index.html">Эрбий металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/itterbiy-metallicheskiy-i-ego-soedineniya/index.html">Иттербий металлический и его соединения</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/mishmetall_/index.html">Мишметалл</a>
                </div>
            </li>
                            </ul></li>                        <li>
                <div class="link_wrap">
                    <a href="../products/magnity/index.html">Магниты</a>
                </div>
                <ul>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/magnity/ndfeb/index.html">Постоянные магниты неодим-железо-бор (NdFeB)</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/magnity/smco/index.html">Постоянные магниты самарий-кобальт (SmCo)</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/magnity/alnico/index.html">Постоянные магниты алюминий-никель-кобальт (AlNiCo)</a>
                </div>
            </li>
                            </ul></li>                        <li>
                <div class="link_wrap">
                    <a href="../products/metallodetektory/index.html">Металлодетекторы</a>
                </div>
                <ul>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/metallodetektory/igolnyy-metallodetektor-ndc-a-2000-150mm/index.html">Игольный металлодетектор NDC-A-2000/150mm</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/metallodetektory/konveyernyy-metallodetektor-mdc/index.html">Конвейерный металлодетектор MDC-350/150</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/metallodetektory/promyshlennyy-detektor-metallov-mdc-symmetric-d/index.html">Промышленный металлодетектор MDC Symmetric D</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/metallodetektory/promyshlennyy-detektor-metallov-mdc-f/index.html">Промышленный металлодетектор MDC-F</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/metallodetektory/promyshlennyy-detektor-metallov-ndc-400/index.html">Промышленный металлодетектор NDC-400</a>
                </div>
            </li>
                            </ul></li>                        <li>
                <div class="link_wrap">
                    <a href="../products/kupit/index.html">Купить</a>
                </div>
                <ul>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/kupit/pod-zakaz/index.html">Под заказ</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../products/kupit/na_sklade/index.html">На складе</a>
                </div>
            </li>
                            </ul></li></ul></li>                        <li>
                <a class="active" href="index.html">Производство</a>
                <ul>
                                                    <li>
                <div class="link_wrap">
                    <a href="samariy-metallicheskiy/index.html">Самарий металлический</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="neodim-metallicheskiy/index.html">Неодим металлический</a>
                </div>
            </li>
                            </ul></li>                        <li>
                <a  href="../labs/index.html">Лаборатория</a>
                <ul>
                                                    <li>
                <div class="link_wrap">
                    <a href="../labs/o-laboratorii/index.html">О лаборатории</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../labs/razdelenie-redkozemelnykh-metallov/index.html">Разделение РЗК</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../labs/pererabotka-tekhn-otkhodov/index.html">Переработка технических отходов</a>
                </div>
                <ul>
                                                    <li>
                <div class="link_wrap">
                    <a href="../labs/pererabotka-tekhn-otkhodov/fosfogips/index.html">Фосфогипс</a>
                </div>
            </li>
                                                    <li>
                <div class="link_wrap">
                    <a href="../labs/pererabotka-tekhn-otkhodov/zoloshlaki/index.html">Золошлаки</a>
                </div>
            </li>
                            </ul></li></ul></li>                        <li>
                <a  href="../contacts/index.html">Контакты</a>
            </li>
                            <li class="header_num">
    		+7 499 702-39-83
    	</li>
    </ul>
</div>
                                <label for="search" class="search_trigger"></label>
				<div class="search_bar">
                    <form action="http://antarn.ru/search/index.php">
	        <input type="text" name="q" placeholder="поиск по сайту" id="search" />
        <input name="s" type="submit" value="Поиск" /></td>
</form> 
					
				</div>
				<div class="language">
					<div class="curent_lang">ru</div>
					<div class="pointer lang_list">
						<a onclick="langch()">en</a>
					</div>
				</div>
            </div><!-- header -->
	</div><!-- center -->
</header>
<div class="slider staticSlider" style="overflow: hidden;">
    <ul>
		        <li style="background-image: url('//www.antarn.ru.images.1c-bitrix-cdn.ru/upload/iblock/978/978ac40d351dfbc22636266a61eddaae.jpg?1516883931812852');">
			<div class="slider_title">
                <center style="margin: 0 auto; max-width: 1360px; padding: 0px 20px;">
                                            Производство                                    </center>
            </div>
		</li>
                        
	</ul>
	<div class="slider_pager"></div>
	<a href="index.html#" class="prev_slide"></a>
	<a href="index.html#" class="next_slide"></a>
</div>
<section id="content">
	<div class="center">
        <div class="breadcrumbs">
    	<ul class="clear">
            <li><a href="../index.html" title="Главная">Главная</a></li><li><span>Производство</span></li>        </ul>
    </div>
        

        <div class="grid">
	                  <ul class="clear"><li data-form="" class="">
    <div class="grid_block">
		            <div class="product">
    			<div class="product_img">
                    <img class="product_img" src="http://www.antarn.ru.images.1c-bitrix-cdn.ru/upload/iblock/fea/fea04ebfc09d76a8452777884a69b3db.jpg?1516807131174624" alt="" />
                </div>
    			<div class="product_title">Самарий металлический</div>
    			<a href="samariy-metallicheskiy/index.html" class="product_link">
    				<span class="mask"></span>
    				<span class="product_text">Получение металлического самария из российского сырья</span>
    				<span class="more_span"><span>Подробнее</span></span>
    			</a>
    		</div>
        	</div>
</li>
<li data-form="" class="">
    <div class="grid_block">
		            <div class="product">
    			<div class="product_img">
                    <img class="product_img" src="http://www.antarn.ru.images.1c-bitrix-cdn.ru/upload/iblock/810/810e2ac40c052730ec2276a9c82cd8a8.jpg?151688384299176" alt="" />
                </div>
    			<div class="product_title">Неодим металлический</div>
    			<a href="neodim-metallicheskiy/index.html" class="product_link">
    				<span class="mask"></span>
    				<span class="product_text">Получение металлического неодима из российского сырья</span>
    				<span class="more_span"><span>Подробнее</span></span>
    			</a>
    		</div>
        	</div>
</li>
</ul></div>
                    <div class="text">
                
	        	<h2 style="border: 0px; background-image: initial; background-color: #ffffff;"><span style="border: 0px; background-image: initial;">Группа компаний «АНТАРН» ведет&nbsp;строительство производственной линии&nbsp;постоянных SmCo- и NdFeB-магнитов.</span></h2>
<p>
	<br>
	<b>Организация производства высокоэнергетических постоянных магнитов и получения редкоземельных металлов позволит обеспечить российские предприятия (в т.ч. ВПК) стратегическими материалами, а также создаст условия для вхождения России в новый стратегический сегмент глобальной экономики.</b>
</p>
<p>
	<span style="background-color: #ffffff;">Одна из приоритетных задач для группы компаний – создание промышленного производства редкоземельных металлов и высокоэнергетических постоянных магнитов на их основе (изделий с высокой добавленной технологической стоимостью). Неотъемлемая часть технологического процесса –&nbsp;производство чистых РЗМ и оксидов.</span><br>
</p>
<p style="border: 0px; background-image: initial; background-color: #ffffff;">
</p>
<h3></h3>
<p>
	<i>Редкоземельные магниты — сильные постоянные магниты, сделанные из сплавов редкоземельных элементов. Наиболее часто используемыми редкоземельными металлами, применяемыми в магнитах, являются неодим и самарий</i><br>
</p>
<p>
	<span style="background-color: #ffffff;">За период с 2010 по 2015 год специалистами ГК «АНТАРН» проделан большой объем научно-исследовательских работ по разработке технологий получения суммарного концентрата (РЗК) из фосфогипса и индивидуальных РЗЭ с&nbsp;применением центробежных экстракторов собственной конструкции. Для этих целей была организована аналитическая лаборатория и созданы лабораторные экстракционные установки.</span>
</p>
<p>
	<span style="background-color: #ffffff;">Для задач промышленного производства РЗ-магнитов с улучшенными магнитными характеристиками создано&nbsp;предприятие.&nbsp;К работе привлечены лучшие специалисты в области технологий получения РЗ-магнитов из ведущих организаций отрасли: ОАО «Спецмагнит», ВНИИХТ, ГИРЕДМЕТ, МИФИ, РХТУ им. Менделеева и других. Проведены переговоры с зарубежными производителями РЗМ и магнитов, связные с трансфертом технологий по получению РЗМ.</span><br>
</p>
<p style="border: 0px; background-image: initial; background-color: #ffffff;">
	Амбициозная цель группы компаний –&nbsp;полное обеспечение стратегическими магнитными материалами высокотехнологичных отраслей российской промышленности.<br>
</p>
<p>
</p>	<div style="clear:both"></div>        </div>
    

<!-- center --> <!-- content --> <div id="footer">
	<div class="center">
		<div class="footer_navs clear">
			     
                            <div class="footer_nav">
				<div class="nav_title">О компании</div>
				<ul>
                    
                            <li>
                <a href="../company/news/index.html">Новости</a>
            </li>
                    
                            <li>
                <a href="../company/partnyery/index.html">Партнёры</a>
            </li>
                    
                            <li>
                <a href="../company/missiya/index.html">Миссия</a>
            </li>
                    
    </ul></div>                        <div class="footer_nav">
				<div class="nav_title">Продукция</div>
				<ul>
                    
                            <li>
                <a href="../products/redkozemelnye-metally-i-ikh-soedineniya/index.html">Редкоземельные металлы и их соединения</a>
            </li>
                    
                            <li>
                <a href="../products/magnity/index.html">Магниты</a>
            </li>
                    
                            <li>
                <a href="../products/metallodetektory/index.html">Металлодетекторы</a>
            </li>
                    
                            <li>
                <a href="../products/kupit/index.html">Купить</a>
            </li>
                    
    </ul></div>                        <div class="footer_nav">
				<div class="nav_title">Производство</div>
				<ul>
                    
                            <li>
                <a href="neodim-metallicheskiy/index.html">Неодим металлический</a>
            </li>
                    
                            <li>
                <a href="samariy-metallicheskiy/index.html">Самарий металлический</a>
            </li>
                    
    </ul></div>                        <div class="footer_nav">
				<div class="nav_title">Лаборатория</div>
				<ul>
                    
                            <li>
                <a href="../labs/pererabotka-tekhn-otkhodov/index.html">Переработка технических отходов</a>
            </li>
                    
                            <li>
                <a href="../labs/o-laboratorii/index.html">О лаборатории</a>
            </li>
                    
                            <li>
                <a href="../labs/razdelenie-redkozemelnykh-metallov/index.html">Разделение РЗК</a>
            </li>
                </div>		</div>
		<div class="footer clear">
<div style="text-align:center;">
<a href="../politika-konfidentsialnosti.php.html">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
	</div>
<br>
<div style="text-align:center;">
<a href="../soglashenie-ob-obrabotke-personalnykh-dannykh.php.html">СОГЛАШЕНИЕ ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</a>
	</div>
			<div class="footer_logo">
				<a href="../index.html"><img src="http://www.antarn.ru.css.1c-bitrix-cdn.ru/bitrix/templates/antarn_tmp/images/footer-logo.svg?14199466416177"" alt=""></a>
			</div>
			<div class="copyright">
				© 2018Antarn.ru
			</div>
			<div class="developer">
				Developed by – <a target="_blank" href="http://playhard.agency">Playhard</a>
			</div>
		</div>
	</div>
	<!-- center -->
</div>
    